* {
    color: white;
}

.hide {
    display: none;
}

.file-prompt {
    text-align: center;
    margin-top: 20px;

    .title {
        margin: 40px 0;
    }

    .error {
        color: red;
        font-size: 15pt;
    }
}

.explorer {
    padding: 10px 40px;

    .jei-items {
        width: calc(50% - 40px);
        float: left;
    }

    .jei-recipes {
        margin-top: 20px;
        width: calc(50% - 40px);
        float: right;
        background: #3b3b3b;
        border-radius: 20px;
    }

    .title {
        text-align: center;
        font-size: 35pt;
        margin: 10px;
    }
}

@media (max-width: 1000px) {
    .explorer {
        padding: 10px 10px;
        overflow: hidden;

        .jei-items {
            width: 100%;
        }

        .jei-recipes {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 250px;
        }
    }
}
