<div class="file-prompt" [class.hide]="is_explorer_opened">
    <h1>Select exported data file to open</h1>
    
    <app-file-prompt (fileSelected)="selected_file = $event"></app-file-prompt>
    
    <button class="btn btn-success" (click)="open_selected_file()">Open</button>

    <br><br>
    <span class="error">{{ error_message }}</span>
</div>


<div class="explorer" [class.hide]="!is_explorer_opened">
    <div class="jei-items">
        <h1 class="title">All Jei Items</h1>

        <span style="color: white;">Hover longer for more info</span>
        <br><br>
        
        <app-items-view [items]="items"></app-items-view>
    </div>
    
    <div class="jei-recipes">
        <h1 class="title">Recipes View</h1>

        <app-recipes-view [recipes]="recipes"></app-recipes-view>
    </div>
</div>

