<div class="file-prompt" [class.hide]="is_explorer_opened">
    <h1 class="title">Select exported data file to open</h1>

    <p>Example export files can be found on <a href="https://github.com/NicoWoch/crafting-explorer/tree/main/exports" target="_blank">github</a></p>
    
    <app-file-prompt (fileSelected)="selected_file = $event" allowedExtensions=".json"></app-file-prompt>
    
    <button class="btn btn-success" (click)="open_selected_file()">Open</button>

    <br><br>
    <span class="error">{{ error_message }}</span>
</div>


<div class="explorer" [class.hide]="!is_explorer_opened">
    <div class="jei-items">
        <h1 class="title">All Jei Items</h1>
        <br>
        <app-items-view [items]="items"></app-items-view>
        <br>
        <p class="text-center" style="color: white;">Hover longer for more info</p>
    </div>
    
    <div class="jei-recipes">
        <h1 class="title">Recipes View</h1>

        <app-recipes-view [recipes]="recipes"></app-recipes-view>
    </div>
</div>

