.search-box-container {
    display: flex;
    justify-content: center;

    .search-box {
        padding: 10px 20px;

        border-radius: 40px;
        border: 4px solid #161616;
    
        label {
            font-size: 14pt;
            margin-right: 10px;
        }
    }
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin: 12px;
    margin-bottom: 0;

    .nav-btn {
        font-size: 18pt;
        font-weight: bold;

        max-height: 40px;
    }

    .page-text {
        font-size: 20pt;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-auto-rows: 52px;
    gap: 8px;

    clear: both;
}
